:root {
  scroll-behavior: smooth;
  --theme-color: #dddddd;
  --header: #c0c0c0;
  --header2: #b92222;
  --text-color: #000000;
  --text-color2: #4d4d4d;
  --text-color3: #6d6d6d;
  --highlight-color-1: #fd2121;
  --highlight-color-2: #0e049c;
  --highlight-color-3: #889ccf;
  --shadow1: #fd8a8a;
  --shadow2: #777676;
  --inverse-text-color: #fff;
  --card-color: #0065ff;
  --card-background: #b1b1b1;
  --gradient-1: #f75f5f;
  --gradient-2: #008cff;
  --button-color: #fa7070;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0;
}


/* Header */

.header {
  background-color: var(--header);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0.25rem 0.25rem 0 var(--header2);
  height: 4rem;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  height: 4rem;
  padding: 0 2rem;
  margin: auto;
  color: var(--text-color);
}

.header-nav__link-logo-container {
  height: 3rem;
}

.header-nav__link-logo {
  height: 100%;
  border-radius: 70%;
}

.header-nav__menu-icon {
  font-size: 2rem;
  width: 2rem;
  margin: 0;
  color: var(--highlight-color-1);
  cursor: pointer;
  transition: all 0.5s;
}

.header-nav__menu-icon:hover {
  font-size: 2.5rem;
  filter: brightness(250%);
  transition: all 0.5s;
}

.header-nav__link-list {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 4rem;
  bottom: 0;
  left: 100%;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color);
  gap: 2.5rem;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}

.header-nav__link-item {
  list-style: none;
}

.header-nav__link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--highlight-color-1);
  transition: all 0.25s;
  font-weight: bold;
}

.header-nav__menu-checkbox {
  display: none;
}

.header-nav__menu-checkbox:checked+.header-nav__link-list {
  left: 0;
  background-color: var(--header);
  opacity: 0.9;
}

.header-nav__link:hover {
  color: var(--highlight-color-2);
}


/* Banner principal */

.main {
  width: 100%;
  margin-top: -68px;
}

.main .banner-principal {
  width: 100%;
  position: relative;
}

.main .banner-principal .banner {
  width: 100%;
  height: 100vh;
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main .banner-principal .texto-banner {
  display: inline-block;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main .banner-principal .texto-banner h2 {
  font-weight: 300;
  color: var(--inverse-text-color);
  margin-bottom: 20px;
}

.main .banner-principal .texto-banner h1 {
  font-size: 6.0625rem;
  font-weight: 700;
  line-height: 90px;
  color: var(--inverse-text-color);
  margin-bottom: 30px;
}

.main .banner-principal .texto-banner a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 8px;
  background: var(--highlight-color-1);
  color: var(--inverse-text-color);
  transition: all .7s ease;
}

.main .banner-principal .texto-banner a:hover {
  background: var(--inverse-text-color);
  color: var(--highlight-color-1);
  box-shadow: 0 0 0.5rem 0.25rem var(--shadow1);
  transform: scale(1.10);
}

.texto-banner__titulo {
  text-shadow: 6px 6px 5px var(--text-color);
}

.scroll-suave {
  font-weight: bold;
  font-size: 18px;
}

/* Últimos estrenos */
/* Galería Grid de películas Responsive */

.contenedor {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.titulo-seccion {
  text-align: center;
  margin-bottom: 10px;
}

.titulo-seccion__sombra {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.titulos-seccion__texto {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--inverse-text-color);
  background: var(--highlight-color-3);
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
}

.titulo-seccion h2 {
  color: var(--highlight-color-1);
  font-size: 3.125rem;
  margin-bottom: 15px;
  font-weight: 500;
}

.titulo-seccion p {
  color: var(--text-color2);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 2.2em;
}

.main .catalogo {
  background: var(--theme-color);
  padding: 108px 0 54px 0;
  padding-top: 40px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--inverse-text-color);
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 0.1rem solid var(--text-color);
  box-shadow: 0 0 0.6rem 0.20rem var(--shadow2);
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
  padding-bottom: 40px;
}

.galeria-ver {
  display: inline-block;
  font: 15px;
  color: var(--inverse-text-color);
  position: relative;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  align-items: center;
  text-decoration: none;
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
  transition: all 0.5s linear;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.galeria-ver:before,
.galeria-ver:after {
  content: ' ';
  border-radius: 90px;
}

.galeria-ver:hover {
  box-shadow: 0 0 0.6rem 0.25rem var(--inverse-text-color);
  transform: scale(1.3);
}

.unirse-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.cartelera__button {
  position: relative;
  display: block;
  padding: 18px 9px;
  border-radius: 10px;
  border-width: 3px;
  text-align: center;
  border-style: dotted;
  font-weight: bold;
  overflow: hidden;
  color: var(--inverse-text-color);
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all ease 1s;
  background: var(--highlight-color-1);
}

.cartelera__button:after,
.cartelera__button:before {
  width: 80px;
  height: 200px;
  content: '';
  display: block;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(40deg);
  top: -50px;
  position: absolute;
  transition: none;
  right: -45%;
  cursor: pointer;
}

.cartelera__button:hover {
  box-shadow: 0 0 0.6rem 0.20rem var(--shadow2);
  text-shadow: 0 1px 1px var(--text-color);
  background: var(--highlight-color-2);
  transform: scale(1.0);
}

.cartelera__button:hover:after,
.cartelera__button:hover:before {
  transform: rotate(45deg), scaleX(130%);
  background: var(--text-color2);
  transition: all ease 1s;
}

.cartelera__button:hover:after {
  right: 130%;
}

.cartelera__button:hover:before {
  left: 130%;
}


/* Nuestras Recomendaciones */

.main .mision {
  background: var(--theme-color);
}

.main .mision .contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.main .mision .contenedor .titulo-seccion {
  width: 100%;
  text-align: center;
}

.main .mision .contenedor .titulo-seccion h2 {
  margin-bottom: 0;
}

.main .mision {
  width: 100%;
  text-align: left;
}

.main .mision p {
  color: var(--text-color);
  font-size: 1.0rem;
  font-weight: 300;
}

/* Cards - películas recomendadas */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 80px;
  padding-top: 10px;
  padding-bottom: 40px;
  grid-gap: 40px;
}

.card {
  background-color: var(--card-background);
  border-radius: 20px;
  box-shadow: 0 0 30px var(--text-color);
}

.container {
  position: relative;
  clip-path: polygon(0 0, 80% 0, 100% 85%, 0 100%);  
}

img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

.card1>.container:after {
  background-image: linear-gradient(135deg,
      var(--card-color),
      var(--highlight-color-1));  
}

.card2>.container:after {
  background-image: linear-gradient(135deg,
      var(--card-color),
      var(--highlight-color-1));
}

.card3>.container:after {
  background-image: linear-gradient(135deg,
      var(--card-color),
      var(--highlight-color-1));
}

.details {
  padding: 20px 10px;
}

.details>h3 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.details>p {
  color: var(--shadow2);
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.gradient {
  display: block;
  margin: 20px 0;
  min-height: 50px;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 0.05rem solid var(--highlight-color-2);
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  background-position: top center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transition-property: background, color;
  border-style: groove;
  border-width: 4px;
}

.unirse__button {
  position: relative;
  color: var(--textColor2);
  border-radius: 26px;
  background-image: linear-gradient(90deg, var(--card-color), var(--highlight-color-1), var(--gradient-1), var(--gradient-2), var(--card-color), var(--highlight-color-1));
  background-size: 400%;
  background-position: 0% 0%;
  color: var(--inverse-text-color);
  text-decoration: none;
}

.unirse__button::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 26px;
  background-image: linear-gradient(90deg, var(--card-color), var(--highlight-color-1), var(--gradient-1), var(--gradient-2), var(--card-color), var(--highlight-color-1));
  background-size: 500%;
  background-position: 0% 0%;
  filter: blur(10px);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s;
}

.unirse__button:hover {
  animation: gradientRotate 2s infinite;
}

.unirse__button::before {
  opacity: 1;
  animation: gradientRotate 2s infinite;
}

.unirse__button:active {
  color: var(--inverse-text-color);
}

@keyframes gradientRotate {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}


/* Nuestro equipo */

.main .nuestro-equipo {
  background: var(--theme-color);
  padding-top: 54px;
  padding-bottom: 108px;
}

.main .nuestro-equipo .equipo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main .nuestro-equipo .equipo .persona-equipo {
  background: var(--inverse-text-color);
  padding: 40px;
  width: 100%;
  max-width: 330px;
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.2);
  text-align: center;
  align-items: center;
}

.main .nuestro-equipo .equipo .persona-equipo:first-child,
.main .nuestro-equipo .equipo .persona-equipo:last-child {
  position: relative;
  top: 20px;
}

.main .nuestro-equipo .equipo .persona-equipo .foto {
  width: 50%;
  max-width: 100px;
  display: inline-block;
  margin-bottom: 10px;
}

.main .nuestro-equipo .equipo .persona-equipo .foto img {
  width: 100%;
  border-radius: 100%;
}

.main .nuestro-equipo .equipo .persona-equipo .texto h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--highlight-color-1);
}

.main .nuestro-equipo .equipo .persona-equipo .texto h4 {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.main .nuestro-equipo .equipo .persona-equipo .texto p {
  color: var(--text-color3);
  font-size: 1.0rem;
  font-weight: 400;
}

.contactar-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.contactar__button {
  background-color: var(--highlight-color-1);
  border: 0.1rem solid var(--text-color);
  color: var(--inverse-text-color);
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  transition: all 0.1s linear;
}

.contactar__button:hover {
  box-shadow: 0 0 0.5rem 0.25rem var(--button-color);
  color: var(--inverse-text-color);
}


/* Footer - Redes sociales */

footer {
  background: var(--theme-color);
  color: var(--text-color);
  gap: 1rem;
}

.contact__nav {
  max-width: 30rem;
  margin: 1em auto;
  padding: 1em;
  height: 25vh;
  text-align: center;
}

.contact__titulo {
  font-size: 20px;
}

.contact__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact__item {
  width: 10%;
  border-radius: 1rem;
  padding: 0.5em;
  margin: 0.5em;
  transition: all 0.5s;
}

.contact__image {
  width: 100%;
  transition: all 0.1s linear;
  transition-delay: 0.05s;
}

.contact__image:hover {
  transform: scale(1.25);
}

.copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
}


/* ----- Media Queries ----- */

@media screen and (max-width:1040px) {

  .main .nuestro-equipo .titulo-seccion {
    margin-bottom: 60px;
  }

  .main .nuestro-equipo .equipo .persona-equipo {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .main .nuestro-equipo .equipo .persona-equipo:first-child {
    top: -20px;
  }

  .main .nuestro-equipo .equipo .persona-equipo .foto {
    margin-right: 20px;
  }

  .cards {
    padding-left: 8px;
  }

  .card.card1.card2.card3 {
    max-width: 80%;
  }

}

@media screen and (max-width: 900px) {

  /*Main*/
  .main {
    margin-top: 0;
  }

  /*Recomendaciones*/
  .main .mision .contenedor .titulo-seccion,
  .main .mision .contenedor {
    width: 100%;
    text-align: center;
  }

}

@media (min-width: 854px) {

  /*Menu*/
  .header-nav__menu-icon {
    display: none;
  }

  .header-nav__link-list {
    position: static;
    flex-direction: row;
    width: auto;
    background-color: inherit;
  }

  .header-nav__link {
    font-size: 1rem;
    color: var(--highlight-color-1);
  }

  .footer-nav {
    padding: 0;
    max-width: 1024px;
    margin: auto;
  }

  .footer-nav__link-list {
    gap: 1.5rem;
  }

  .footer-nav__link {
    width: 2rem;
  }

  .cards {
    padding-left: 80px;
  }

  @media (min-width: 600px) {
    .wide {
      grid-column: span 2;
    }

    .tall {
      grid-row: span 2;
    }
  }
}

@media screen and (max-width:550px) {

  /*Banner principal*/
  .main .banner-principal .texto-banner h1 {
    font-size: 4rem;
  }

  /*Catálogo*/
  .titulo-seccion h2 {
    font-size: 2.125rem;
  }

  .main .catalogo .galeria-catalogo .pelicula {
    width: 49%;
  }

  /*Nuestro equipo*/
  .main .nuestro-equipo .equipo .persona-equipo {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card {
    width: 80%;
    margin-bottom: 20px;
  }

  .cards {
    margin-left: 20px;
  }

  .equipo {
    padding: 10px;
  }
}